@import url('https://fonts.googleapis.com/css?family=Nunito:300,700&display=swap');

.history {
  border: 1px solid #eaeaea;
  box-shadow: 6px 6px 22px -8px rgba(0, 0, 0, 0.79);
}

.bgcHead {
  background-color: #ebeef2;
  box-shadow: 0px 9px 22px -8px rgba(0, 0, 0, 0.79);
}

.headList {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.8px;
  padding: 20px 80px;
}

.listItem {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.8px;
  padding: 20px 80px;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.listItem:last-child {
  border-right: none;
}
